html {
  padding:0;
  margin:0;
}

body {
  padding-left: 50px;
  padding-right: 70px;
}


.headline {
  color: grey;
  margin:0;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 35px;
  font-family: serif;
}

.selectors {
  text-align: center;
}


.selectSandG {
  display: inline-block;
  padding-bottom: 50px;
  padding-right: 100px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #343a40;

}
.selectSandG select {
  -webkit-appearance: none;
  width: 100px;
  height: 20px;
  padding-inline-start: 5px;

}
.selectSandG select:hover{
  color: white;
  background-color: gray;
  border-color: gray;

}


.range-wrap{
  width: 80%;
  position: relative;
  clear:both;
  padding-left: 10px;
}
.range-value{
  position: absolute;
  top: -60%;
  width: 40px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: gray;
  color: white;
  font-size: 14px;
  display: block;
  position: absolute;
  transform: translate(-30%, -10%);
  border-radius: 6px;
}
.range1 {
  -webkit-appearance: none;
  background: lightgray;
  margin: 5px 0;
  border-radius: 6px;
  width: 100%;
}
.range1:focus {
  outline: none;
}
.rang1::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 25px;
}

.ticks {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 5px;

}

.ticky {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  color: #343a40;
  
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
}

.sliderLabel {
  width:100%;
}
text.countLabel{
  opacity: 0.7;
  font-family: sans-serif;
  font-size: 14px;
 }

text.label{
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 16px;
}


@media only screen and (max-width: 600px) {
  text.label {
      font-size: 9px;
  }
}

text.yearText{
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 70px;
  font-weight: 700;
  opacity: 0.35;
}

.xAxis .tick:nth-child(2) text {
  text-anchor: start;
  font-family: 'Gill Sans', sans-serif;
  font-size: 14px;

  
}
.tick text {
  font-size: 12px;
  font-family: sans-serif;
  color: #343a40;
}
.tick line {
  shape-rendering: CrispEdges;
  stroke: #dddddd;
  opacity: 0.8;
}
.tick line.origin{
  stroke: #aaaaaa;
  opacity: 0.8;
}
path.domain{
  display: none;
}